In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv(r'D:\upgrad\Upgrad 2023\lead scoring\Leads.csv')

In [4]:
df.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [5]:
df.shape

(9240, 37)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [7]:
df.isnull().sum()

Prospect ID                                         0
Lead Number                                         0
Lead Origin                                         0
Lead Source                                        36
Do Not Email                                        0
Do Not Call                                         0
Converted                                           0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                     103
Country                                          2461
Specialization                                   1438
How did you hear about X Education               2207
What is your current occupation                  2690
What matters most to you in choosing a course    2709
Search                                              0
Magazine                                            0
Newspaper Article                                   0
X Education Forums                                  0
Newspaper                                           0
Digital Advertisement                               0
Through Recommendations                             0
Receive More Updates About Our Courses              0
Tags                                             3353
Lead Quality                                     4767
Update me on Supply Chain Content                   0
Get updates on DM Content                           0
Lead Profile                                     2709
City                                             1420
Asymmetrique Activity Index                      4218
Asymmetrique Profile Index                       4218
Asymmetrique Activity Score                      4218
Asymmetrique Profile Score                       4218
I agree to pay the amount through cheque            0
A free copy of Mastering The Interview              0
Last Notable Activity                               0
dtype: int64

In [8]:
(df.isnull().sum()/df.shape[0])*100

Prospect ID                                       0.000000
Lead Number                                       0.000000
Lead Origin                                       0.000000
Lead Source                                       0.389610
Do Not Email                                      0.000000
Do Not Call                                       0.000000
Converted                                         0.000000
TotalVisits                                       1.482684
Total Time Spent on Website                       0.000000
Page Views Per Visit                              1.482684
Last Activity                                     1.114719
Country                                          26.634199
Specialization                                   15.562771
How did you hear about X Education               23.885281
What is your current occupation                  29.112554
What matters most to you in choosing a course    29.318182
Search                                            0.000000
Magazine                                          0.000000
Newspaper Article                                 0.000000
X Education Forums                                0.000000
Newspaper                                         0.000000
Digital Advertisement                             0.000000
Through Recommendations                           0.000000
Receive More Updates About Our Courses            0.000000
Tags                                             36.287879
Lead Quality                                     51.590909
Update me on Supply Chain Content                 0.000000
Get updates on DM Content                         0.000000
Lead Profile                                     29.318182
City                                             15.367965
Asymmetrique Activity Index                      45.649351
Asymmetrique Profile Index                       45.649351
Asymmetrique Activity Score                      45.649351
Asymmetrique Profile Score                       45.649351
I agree to pay the amount through cheque          0.000000
A free copy of Mastering The Interview            0.000000
Last Notable Activity                             0.000000
dtype: float64

In [9]:
df['Lead Quality'].value_counts()

Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: Lead Quality, dtype: int64

In [10]:
missing_values = 100*df.isnull().mean() 
missing_values = missing_values[missing_values>= 50].sort_values(ascending=False) 
missing_values

Lead Quality    51.590909
dtype: float64

In [11]:
df.loc[df['Lead Quality']=='Select','Lead Quality']=np.nan

In [12]:
df['Lead Quality'].isnull().sum()

4767

In [13]:
df['Lead Quality']=df['Lead Quality'].fillna("Dont know")

In [14]:
df['Lead Quality'].isnull().sum()

0

In [15]:
df['Asymmetrique Activity Index'].value_counts()

02.Medium    3839
01.High       821
03.Low        362
Name: Asymmetrique Activity Index, dtype: int64

In [20]:
df=df.drop(['Asymmetrique Profile Index','Asymmetrique Activity Score','Asymmetrique Profile Score'],axis=1)

In [21]:
df['Asymmetrique Activity Index']=df['Asymmetrique Activity Index'].apply(lambda
            x:1 if x=='01.High' else 2 if x=='02.Medium' else 3)

In [22]:
df['Asymmetrique Activity Index'].value_counts()

3    4580
2    3839
1     821
Name: Asymmetrique Activity Index, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 34 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   9240 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    9240 non-null   int64
 31  I agree to pay the amount through cheque       9240 non-null   object
 32  A free copy of Mastering The Interview         9240 non-null   object
 33  Last Notable Activity                          9240 non-null   object
dtypes: float64(2), int64(4), object(28)
memory usage: 2.4+ MB

In [25]:
df['What is your current occupation'].value_counts()

Unemployed              5600
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: What is your current occupation, dtype: int64

In [26]:
df['What is your current occupation']=df['What is your current occupation'].fillna('Unknown')

In [27]:
df.loc[df['How did you hear about X Education']=='Select','How did you hear about X Education']=np.nan

In [28]:
df['Tags'].value_counts()

Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
Shall take in the next coming month                     2
University not recognized                               2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64

In [30]:
k=((df.isnull().sum()/df.shape[0])*100)>15
print(k)
print(type(k))

Prospect ID                                      False
Lead Number                                      False
Lead Origin                                      False
Lead Source                                      False
Do Not Email                                     False
Do Not Call                                      False
Converted                                        False
TotalVisits                                      False
Total Time Spent on Website                      False
Page Views Per Visit                             False
Last Activity                                    False
Country                                           True
Specialization                                    True
How did you hear about X Education                True
What is your current occupation                  False
What matters most to you in choosing a course     True
Search                                           False
Magazine                                         False
Newspaper Article                                False
X Education Forums                               False
Newspaper                                        False
Digital Advertisement                            False
Through Recommendations                          False
Receive More Updates About Our Courses           False
Tags                                              True
Lead Quality                                     False
Update me on Supply Chain Content                False
Get updates on DM Content                        False
Lead Profile                                      True
City                                              True
Asymmetrique Activity Index                      False
I agree to pay the amount through cheque         False
A free copy of Mastering The Interview           False
Last Notable Activity                            False
dtype: bool
<class 'pandas.core.series.Series'>

In [43]:
cols = (df.isnull().sum()/df.shape[0])*100 
cols = cols[cols>= 15] 
cols

Country                                          26.634199
Specialization                                   15.562771
How did you hear about X Education               78.463203
What matters most to you in choosing a course    29.318182
Tags                                             36.287879
Lead Profile                                     29.318182
City                                             15.367965
dtype: float64

In [44]:
type(cols)

pandas.core.series.Series

In [48]:
cols=cols.index.tolist()

In [49]:
cols

['Country',
 'Specialization',
 'How did you hear about X Education',
 'What matters most to you in choosing a course',
 'Tags',
 'Lead Profile',
 'City']

In [50]:
for i in cols:
    df[i]=df[i].fillna('Unknown')

In [51]:
df.isnull().sum()

Prospect ID                                        0
Lead Number                                        0
Lead Origin                                        0
Lead Source                                       36
Do Not Email                                       0
Do Not Call                                        0
Converted                                          0
TotalVisits                                      137
Total Time Spent on Website                        0
Page Views Per Visit                             137
Last Activity                                    103
Country                                            0
Specialization                                     0
How did you hear about X Education                 0
What is your current occupation                    0
What matters most to you in choosing a course      0
Search                                             0
Magazine                                           0
Newspaper Article                                  0
X Education Forums                                 0
Newspaper                                          0
Digital Advertisement                              0
Through Recommendations                            0
Receive More Updates About Our Courses             0
Tags                                               0
Lead Quality                                       0
Update me on Supply Chain Content                  0
Get updates on DM Content                          0
Lead Profile                                       0
City                                               0
Asymmetrique Activity Index                        0
I agree to pay the amount through cheque           0
A free copy of Mastering The Interview             0
Last Notable Activity                              0
dtype: int64

In [52]:
df.shape

(9240, 34)

In [54]:
df=df.dropna()

In [55]:
df.isnull().sum()

Prospect ID                                      0
Lead Number                                      0
Lead Origin                                      0
Lead Source                                      0
Do Not Email                                     0
Do Not Call                                      0
Converted                                        0
TotalVisits                                      0
Total Time Spent on Website                      0
Page Views Per Visit                             0
Last Activity                                    0
Country                                          0
Specialization                                   0
How did you hear about X Education               0
What is your current occupation                  0
What matters most to you in choosing a course    0
Search                                           0
Magazine                                         0
Newspaper Article                                0
X Education Forums                               0
Newspaper                                        0
Digital Advertisement                            0
Through Recommendations                          0
Receive More Updates About Our Courses           0
Tags                                             0
Lead Quality                                     0
Update me on Supply Chain Content                0
Get updates on DM Content                        0
Lead Profile                                     0
City                                             0
Asymmetrique Activity Index                      0
I agree to pay the amount through cheque         0
A free copy of Mastering The Interview           0
Last Notable Activity                            0
dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9074 entries, 0 to 9239
Data columns (total 34 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9074 non-null   object
 1   Lead Number                                    9074 non-null   int64
 2   Lead Origin                                    9074 non-null   object
 3   Lead Source                                    9074 non-null   object
 4   Do Not Email                                   9074 non-null   object
 5   Do Not Call                                    9074 non-null   object
 6   Converted                                      9074 non-null   int64
 7   TotalVisits                                    9074 non-null   float64
 8   Total Time Spent on Website                    9074 non-null   int64
 9   Page Views Per Visit                           9074 non-null   float64
 10  Last Activity                                  9074 non-null   object
 11  Country                                        9074 non-null   object
 12  Specialization                                 9074 non-null   object
 13  How did you hear about X Education             9074 non-null   object
 14  What is your current occupation                9074 non-null   object
 15  What matters most to you in choosing a course  9074 non-null   object
 16  Search                                         9074 non-null   object
 17  Magazine                                       9074 non-null   object
 18  Newspaper Article                              9074 non-null   object
 19  X Education Forums                             9074 non-null   object
 20  Newspaper                                      9074 non-null   object
 21  Digital Advertisement                          9074 non-null   object
 22  Through Recommendations                        9074 non-null   object
 23  Receive More Updates About Our Courses         9074 non-null   object
 24  Tags                                           9074 non-null   object
 25  Lead Quality                                   9074 non-null   object
 26  Update me on Supply Chain Content              9074 non-null   object
 27  Get updates on DM Content                      9074 non-null   object
 28  Lead Profile                                   9074 non-null   object
 29  City                                           9074 non-null   object
 30  Asymmetrique Activity Index                    9074 non-null   int64
 31  I agree to pay the amount through cheque       9074 non-null   object
 32  A free copy of Mastering The Interview         9074 non-null   object
 33  Last Notable Activity                          9074 non-null   object
dtypes: float64(2), int64(4), object(28)
memory usage: 2.4+ MB

In [ ]:
#get a list of object cols

In [57]:
objectcols=df.loc[:,df.dtypes=='object']
objectcols.columns

Index(['Prospect ID', 'Lead Origin', 'Lead Source', 'Do Not Email',
       'Do Not Call', 'Last Activity', 'Country', 'Specialization',
       'How did you hear about X Education', 'What is your current occupation',
       'What matters most to you in choosing a course', 'Search', 'Magazine',
       'Newspaper Article', 'X Education Forums', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Courses', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity'],
      dtype='object')

In [59]:
object_cols=list(objectcols)

In [60]:
print(object_cols)

['Prospect ID', 'Lead Origin', 'Lead Source', 'Do Not Email', 'Do Not Call', 'Last Activity', 'Country', 'Specialization', 'How did you hear about X Education', 'What is your current occupation', 'What matters most to you in choosing a course', 'Search', 'Magazine', 'Newspaper Article', 'X Education Forums', 'Newspaper', 'Digital Advertisement', 'Through Recommendations', 'Receive More Updates About Our Courses', 'Tags', 'Lead Quality', 'Update me on Supply Chain Content', 'Get updates on DM Content', 'Lead Profile', 'City', 'I agree to pay the amount through cheque', 'A free copy of Mastering The Interview', 'Last Notable Activity']

In [61]:
dummy=pd.get_dummies(df[object_cols],drop_first=True)
dummy

,Prospect ID_0006d10a-eb01-4ba9-92e2-ad78588b2a40,Prospect ID_0011be30-fa97-465b-8e44-0ae83dff7eed,Prospect ID_0011f23e-9fd9-4256-b316-efc2e2639b0d,Prospect ID_001b0ad3-9096-4af8-8205-912f5c6dafd8,Prospect ID_001e6e14-2183-47ab-a405-108e44bc2e66,Prospect ID_0020b1d4-5bce-49b2-b8e3-0e04b5b0be5a,Prospect ID_00211c7a-7823-4fa8-8765-8f3d8e113f4e,Prospect ID_002233e4-c3d5-4a78-b64e-fa9b7fdef393,Prospect ID_0027a9f7-64d9-4f1f-b80c-977527a2e325,Prospect ID_0029ea13-9e74-4b41-8dcf-7e0438338457,...,Last Notable Activity_Form Submitted on Website,Last Notable Activity_Had a Phone Conversation,Last Notable Activity_Modified,Last Notable Activity_Olark Chat Conversation,Last Notable Activity_Page Visited on Website,Last Notable Activity_Resubscribed to emails,Last Notable Activity_SMS Sent,Last Notable Activity_Unreachable,Last Notable Activity_Unsubscribed,Last Notable Activity_View in browser link Clicked
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9236,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9237,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9239,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [62]:
df1=pd.concat([df,dummy],axis=1)
df1.shape

(9074, 9289)

In [63]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in object_cols:
    df[i]=label_encoder.fit_transform(df[i])
df.shape

(9074, 34)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9074 entries, 0 to 9239
Data columns (total 34 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9074 non-null   int32
 1   Lead Number                                    9074 non-null   int64
 2   Lead Origin                                    9074 non-null   int32
 3   Lead Source                                    9074 non-null   int32
 4   Do Not Email                                   9074 non-null   int32
 5   Do Not Call                                    9074 non-null   int32
 6   Converted                                      9074 non-null   int64
 7   TotalVisits                                    9074 non-null   float64
 8   Total Time Spent on Website                    9074 non-null   int64
 9   Page Views Per Visit                           9074 non-null   float64
 10  Last Activity                                  9074 non-null   int32
 11  Country                                        9074 non-null   int32
 12  Specialization                                 9074 non-null   int32
 13  How did you hear about X Education             9074 non-null   int32
 14  What is your current occupation                9074 non-null   int32
 15  What matters most to you in choosing a course  9074 non-null   int32
 16  Search                                         9074 non-null   int32
 17  Magazine                                       9074 non-null   int32
 18  Newspaper Article                              9074 non-null   int32
 19  X Education Forums                             9074 non-null   int32
 20  Newspaper                                      9074 non-null   int32
 21  Digital Advertisement                          9074 non-null   int32
 22  Through Recommendations                        9074 non-null   int32
 23  Receive More Updates About Our Courses         9074 non-null   int32
 24  Tags                                           9074 non-null   int32
 25  Lead Quality                                   9074 non-null   int32
 26  Update me on Supply Chain Content              9074 non-null   int32
 27  Get updates on DM Content                      9074 non-null   int32
 28  Lead Profile                                   9074 non-null   int32
 29  City                                           9074 non-null   int32
 30  Asymmetrique Activity Index                    9074 non-null   int64
 31  I agree to pay the amount through cheque       9074 non-null   int32
 32  A free copy of Mastering The Interview         9074 non-null   int32
 33  Last Notable Activity                          9074 non-null   int32
dtypes: float64(2), int32(28), int64(4)
memory usage: 1.5 MB

In [79]:
from sklearn.model_selection import train_test_split
X=df.drop(['Converted'],axis=1)
X.shape

(9074, 33)

In [80]:
Y=df['Converted']
Y.shape

(9074,)

In [81]:
x_train,y_train,x_test,y_test=train_test_split(X,Y,train_size=0.7,random_state=0)

In [82]:
x_train.shape

(6351, 33)

In [83]:
x_train.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,...,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
8174,5505,587414,2,10,0,0,0.0,0,0.0,12,...,14,0,0,0,4,4,2,0,0,12
6986,5724,596002,0,6,0,0,0.0,0,0.0,12,...,18,1,0,0,4,0,1,0,0,12
8112,7523,587894,2,10,0,0,0.0,0,0.0,12,...,20,3,0,0,3,4,2,0,0,12
8530,4818,584595,1,1,0,0,2.0,362,2.0,12,...,18,0,0,0,6,0,2,0,1,8
6444,2700,600578,0,6,0,0,6.0,168,1.2,10,...,8,2,0,0,4,4,3,0,0,10

In [84]:
x_train=x_train.drop(['Prospect ID','Lead Number'],axis=1)

In [85]:
from sklearn.preprocessing import MinMaxScaler

In [86]:
scaler=MinMaxScaler()

In [88]:
x_train[['Total Time Spent on Website','Page Views Per Visit','TotalVisits']]=scaler.fit_transform(x_train[['Total Time Spent on Website','Page Views Per Visit','TotalVisits']])